.kodchasan-regular {
    font-family: "Kodchasan", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.warm-beige {
    background-color: #F5EFE6;
    /* background-color: green; */

}



.hero-page {
    background-image: url('/assets/images/robert-bye-4hcpIbqQM8c-unsplash.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}  

.container {
    background-size: cover;
    background-position: center;
}

.glass-panel {
    color: #fff;
    margin: 40px auto;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    width: 100%;
    border-radius: 15px;
    padding: 16px;
    backdrop-filter: blur(10px);
}

